.all {
    font-weight: bold;
}

#containerprincipal {
    width: 500px;

}

#form {
  margin-top: 25px;

}

#h4 {
    color: #361D87;
    font-weight: bold;
    text-align: center;
}

#button {
    background-color: #361D87;
}

